body {
    background: linear-gradient(180deg, #00E0FF 0%, #4E8AFE 100%);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    overflow: hidden;
}

.message-container {
    display: flex;
    margin-bottom: 0px;
}

.message-container img {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.message-bubble {
    background: #4E8AFE;
    border-radius: 0px 25px 25px 25px;
    padding: 5px 20px;
    margin-top: 25px;
    margin-inline: 20px;
    color: white;
    box-shadow: 5px 5px 10px #00000030;
}

.chat-area {
    height: 75vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /*background: #00E0FF;*/
}

.chat-panel {
    padding: 0px 25%;
    /*background: red;*/
    /*background: #00E0FF;*/
}

.message-input-area {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}